.table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 10px;
  margin: auto;
  table-layout: fixed;

  & th,
  td {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__skeleton {
    width: 100%;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
