.cell {
  padding: 0 18px;
  min-width: 30px;
  position: relative;

  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}
