.search {
  height: 100px;
  position: relative;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: #fff;

  &__title {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 30px;
    color: var(--font-color-black);
  }

  &__field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1023px;
    width: 100%;
  }
}
